<%- include("../partials/header") %>

<h4><%= campground.name %></h4>
<img src="<%= campground.image %>" />
<h5><%= campground.description %></h5>

<a class="btn btn-success btn-sm m-2" href="/campgrounds/<%= campground._id %>/comments/new">Add a new comment</a>

<% campground.comments.forEach(comment => { %>
<h4>
    <strong><%= comment.author %></strong> - <%= comment.text %>
</h4>
<% }); %>

<a class="btn btn-secondary btn-sm m-2" href="/campgrounds">Go back</a>

<%- include("../partials/footer") %>